{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel= "stylesheet" href= "{% static 'bootstrap.min.css' %}">
  <link rel= "stylesheet" href= "{% static 'FN.css' %}">
   <link href="{{ STATIC_URL }}FN.css" rel="stylesheet" type="text/css" />
   
  
    <title>{{ Hello }}</title>
</head>
<body class="expbody">
<a href="{% url 'experiences' %}">
    <i class="left"></i>
    <i class="left"></i>
    </a>

   <div class="cgt_container" style="position absolute">
        <div class="thedate" style = "position= static">
        February 2019 - April 2019
        </div>
        <a href="https://twitter.com/cgtfasilkom?lang=en" target="_blank">
        <div class="thetitle" style = "position= static">
        CGT</div>
        </a>
        <div class="thedesc" style = "position= static">
        Computers Get Together</div>
        <div class="lineup">
        </div>
        <div class="thejob" style = "position= static">
        Staff of Public Relation</div>
        <div class="lineup">
        </div>

        <div style="text-align:center; margin-top: 10%">
        <img class="cgtgc" src="{% static 'cgtgc.jpg' %}">
        <img class="rapat1" src="{% static 'rapat1.jpg' %}">
        <img class="bowling" src="{% static 'bowling.jpg' %}">
        </div>
        

        </div>
    
   </div>

   


    
      
    
    
    
</body>
</html>

