{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel= "stylesheet" href= "{% static 'bootstrap.min.css' %}">
  <link rel= "stylesheet" href= "{% static 'FN.css' %}">
   <link href="{{ STATIC_URL }}FN.css" rel="stylesheet" type="text/css" />
   
  
    <title>{{ Hello }}</title>
</head>
<body>

    <div class="cfpage">
        <a href="{% url 'experiences' %}">
    <i class="left"></i>
    <i class="left"></i>
    </a>
    

        <div class="cf-date">February 2019 - October 2019</div>
        <a href="https://www.compfest.id/" target="_blank">
        <div class="cf-title">COMPFEST</div>
        </a>
        <div class="cf-desc">
        The largest annual IT event held by
        students of <br>the Faculty of Computer 
            Science, University of <br>Indonesia.</div>

        
        <div class="thelineup"></div>
        <div class="midcontent" style="text-align:center"> HRD of Direct Marketing </div>
        <div class="thelineup1"></div>


    </div>
    <div style="margin-top: -280px; margin-left: 35px">
    <img class="cf1" src="{% static 'cf1.jpg' %}">
    <img class="cf2" src="{% static 'cf2.jpg' %}">
    <img class="cf3" src="{% static 'cf3.jpg' %}">
    </div>



    
      
    
    
    
</body>
</html>

