{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel= "stylesheet" href= "{% static 'bootstrap.min.css' %}">
  <link rel= "stylesheet" href= "{% static 'FN.css' %}">
   <link href="{{ STATIC_URL }}FN.css" rel="stylesheet" type="text/css" />
   
  
    <title>{{ Hello }}</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"  href="{% url 'index' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'experiences' %}">Experiences<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'addSchedule' %}">add Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listSchedule' %}">My Scedule</a>
      </li>
     
    </ul>
  </div>
</nav> 







<div class="container-fluid">
  <div class="row">
      

    <div class="col" >
    <br>
    <br>
            <a href="https://www.compfest.id/" target="_blank">
            <img class="com" src="{% static 'com.jpg' %}">
            <br>
         </a></div>
    <div class="col-6" >
    <br>
    <br>
            <p id="desc">
            The largest annual IT event held by
        students of the Faculty of Computer 
            Science, University of Indonesia.</p>
            <br>
            HRD of Direct Marketing
            </div>
    <div class="col"></div>


    <div class="w-100"></div>


    <div class="col">
    <br>
    <br>
            <a href="https://twitter.com/cgtfasilkom?lang=en" target="_blank">
            <img class="cgt" src="{% static 'cgt.jpg' %}">
            </a>
    </div>
    <div class="col-6">
    <br>
    <br>
    <p id="desc">
    Computers Get Together</p>
    <br>
    Staff of Public Relation
    </div>
    <div class="col"></div>


    <div class="w-100"></div>


    <div class="col">
    <br>
    <br>
            <a href="https://twitter.com/betisfasilkom?lang=en" target="_blank">
            <img class="betis" src="{% static 'betis.jpg' %}">
            </a>
    </div>
    <div class="col-6">
    <br>
    <br>
    <p id="desc">
    Bimbingan Belajar Gratis</p>
    <br>
    Staff of Event
    </div>
    <div class="col"></div>


    <div class="w-100"></div>


        <div class="col">
    <br>
    <br>
            <a href="https://twitter.com/universiadeui?lang=en" target="_blank">
            <img class="univer" src="{% static 'univer.jpg' %}">
            </a>
    </div>
    <div class="col-6">
    <br>
    <br>
    <p id="desc">
     Inter-university sport olympics in<br>
      University of Indonesia</p>
    <br>
    Staff of Documentation
    </div>
    <div class="col"></div>


    <div class="w-100"></div>


  </div>
</div>
   
</body>
</html>

