{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel= "stylesheet" href= "{% static 'bootstrap.min.css' %}">
  <link rel= "stylesheet" href= "{% static 'FN.css' %}">
   <link href="{{ STATIC_URL }}FN.css" rel="stylesheet" type="text/css" />
   
  
    <title>{{ Hello }}</title>
</head>
<body>


 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"  href="{% url 'index' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'experiences' %}">Experiences<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'addSchedule' %}">add Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listSchedule' %}">My Scedule</a>
      </li>
     
    </ul>
  </div>
</nav> 


<div class="jumbotron">
    <br>
    <h1 class = text-center> <b> Welcome <br> To The Site </b> </h1>
    <br>

    <h5 align="center"> I like to make beautiful designs and take pictures</h5>
    <br>
    
    <div class = "text-center">
      <img class= "profpic" src="{% static 'bela.jpg' %}" style="padding-top: 3%">
    </div>
  </div>

<div class="container-img">
  <div class="row justify-content-md-center">
    <div class="col-md">
      <a href="mailto:sintabelaaa@gmail.com?Subject=Hello%20again">
      <img class="gmail"  src="{% static 'gmail.png' %}" width="30%">
      </a>
    </div>
    <div class="col-md">
       <img class="wats" src="{% static 'wats.png' %}" width="28%">
    </div>
    <div class="col-md">
       <a href="https://www.instagram.com/belaa.dy/" target="_blank">
      <img class="instagram" src="{% static 'ig.png' %}" width = "27%">
      </a>
    </div>
    <div class="col-md">
    <a href ="https://www.linkedin.com/in/sinta-bela-damayanti-787765187/" target="_blank">
      <img class="linkedin" src="{% static 'linkedin.png' %}" width = "28%">
      <a>
    </div>
  </div>
</div>
<!-- akhir contact laptop -->


 <!-- paragraf about -->
  <section class="profile" id="profile">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="text-center"> Hi, I'm Bela. Nice to meet you.</h1>
        <br>
        <div class="row">
            <div class="col">
              <pre class="text-left">
        Nama            : Sinta Bela Damayanti 
        Agama           : Islam
        Tanggal Lahir   : 7 September 2000 
        Pendidikan      : S1, Sistem Informasi
                          Universitas Indonesia
        NPM             : 1806147193
        Alamat          : Komp. Jatiwarna Indah 
                          Bekasi, Jawa Barat 17414


            Saya merupakan mahasiswa yang 
        berlatar belakang IT dengan keterampilan
      komunikasi dan desain grafis yang baik. Saya
          mampu bekerja dalam kelompok maupun
      individu. Saya memiliki kemauan untuk belajar 
         dan mengembangkan kemampuan yang saya 
                         miliki. </pre>
            </div>
    <div class="col">

    <img class="pict2" src="{% static 'ay.jpg' %}" style="text-alignment=center">

    </div>
  </div>
        
        
      </div>
    </div>
  </section>
  <!-- akhir dari paragraf about -->
      
      
     
     

    


     
</body>
</html>

