{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel= "stylesheet" href= "{% static 'bootstrap.min.css' %}">
  <link rel= "stylesheet" href= "{% static 'FN.css' %}">
   <link href="{{ STATIC_URL }}FN.css" rel="stylesheet" type="text/css" />
  
    <title>{{ Hello }}</title>
</head>
<body class="bodyprofile">
    <div class = "whiteprofile">
         Profile
   </div>
   <div class = "pinkprofile">
   </div>
   <div class = "content">
        <pre>
        Nama            : Sinta Bela Damayanti 
        Agama           : Islam
        Tanggal Lahir   : 7 September 2000 
        Pendidikan      : S1, Sistem Informasi
                          Universitas Indonesia
        NPM             : 1806147193
        Alamat          : Komp. Jatiwarna Indah 
                          Bekasi, Jawa Barat 17414


            Saya merupakan mahasiswa yang 
        berlatar belakang IT dengan keterampilan
      komunikasi dan desain grafis yang baik. Saya
          mampu bekerja dalam kelompok maupun
      individu. Saya memiliki kemauan untuk belajar 
         dan mengembangkan kemampuan yang saya 
                         miliki.
        </pre>
   </div>
    
    <img class="profpic" src="{% static 'ay.jpg' %}">
    <div class= "boxprof">
    </div>

    <div style="text-align:center" >
        <a href="{% url 'index' %}">
              <div class="dotpro" > </div>
        </a>

        <a href="{% url 'profile' %}">
              <div class="dotpro" style="background-color: grey;"> </div>
       </a>

        <a href="{% url 'experiences' %}">
              <div class="dotpro"> </div>
       </a>

       <a href="{% url 'gallery' %}">
              <div class="dotpro"> </div>
       </a>
    </div>
   


</body>
</html>