{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel= "stylesheet" href= "{% static 'bootstrap.min.css' %}">
  <link rel= "stylesheet" href= "{% static 'FN.css' %}">
   <link href="{{ STATIC_URL }}FN.css" rel="stylesheet" type="text/css" />
   
  
    <title>{{ Hello }}</title>
</head>
<body class="unibody">

    <a href="{% url 'experiences' %}">
    <i class="left"></i>
    <i class="left"></i>
    </a>

   <div class="univer_container" style="position absolute">
        <div class="thedate" style = "position= static">
        August 2018 - October 2018
        </div>


        <a href="https://twitter.com/universiadeui?lang=en" target="_blank">
        <div class="thetitle" style = "position= static">
        Universiade UI</div>
        </a>


        <div class="thedesc" style = "position= static ; text-align:center" >
         Inter-university sport olympics in<br>
University of Indonesia</div>
        <div class="thelineup">
        </div>
        <div class="thejob" style = "position= static">
        Staff of Documentation</div>
        <div class="thelineup">
        </div>

        <div style="text-align:center; margin-top: 10%">
        <img class="univerui" src="{% static 'univerui.jpg' %}">
        </div>
        

        </div>
    
   </div>

   


    
      
    
    
    
</body>
</html>

