body {
    width: 100vw;
    height: 100vh;
    background-color: lightblue;

}


.foto {
position: relative;
text-align: center;
width: 100%;
}

.foto img{
    width: 100%;
}

.image {
display: block;
width: 100%;
height: auto;
}

.overlay {
position: absolute;
bottom: 0;
color:rgb(12, 11, 11);
width: 100%;
opacity:1;
font-size: 100%;
padding-right: 30%;
  padding-bottom: 4%;
  padding-left: 30%;
text-align: left;
}

.grey {
    color: rgb(163, 24, 24)
}