@import url('https://fonts.googleapis.com/css?family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rasa&display=swap');
h1 {
    font-family: 'Ribeye', cursive;
    font-size: 6vw;
}

.jumbotron {
    background: #feefec;
  }

.navbar{
    z-index: 1;

  }
.col{
    background: #feefec;
}
.col-6{
    background: #feefec;

}

.profpic{
    width: 20%;
    border-radius: 50%;
}

pre{
    font-family: 'Rasa', serif; 
    font-size: 3vh; 
}

.pict2{
    width: 30vw;
    height: auto;
}

#desc{
    font-size: 4vh;
}

.com{
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
}

.cgt{
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
}

.betis{
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
}

.univer{
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
}

.wisuda{
    width: 50vh;
    height: auto;
    transform: rotate(90deg);

}

.bandung{
    width: 50vh;
    height: auto;
    transform: rotate(90deg);

}

.photography{
    width: 25vh;
    height: auto;

}

.dino{
    width: 25vh;
    height: auto;

}

.bali1{
    width: 25vh;
    height: auto;

}

#form{
    width: 70vw;
}